@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;

  font-family: "Asap Condensed", sans-serif;
  /* background-color: #171d24; */
  /* color: #fafafa; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
